@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    background: rgb(82, 82, 221);
    font-family: "Poppins";
    font-size: 16px;
    
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.418);
    
}

select{
    width: 170px;
    padding: 3px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family: "Poppins";
    margin-top: 4px;
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    
}

footer:hover{
    text-decoration: underline;
    cursor: pointer;
}

a{
    color: white;
}

a:active{
    text-decoration: none;
    color: white;
}

a:link{
    text-decoration: none;
    color: white;
}

